body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}
nav {
    background-color: #333;
    color: white;
    font-size: 18px;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;

    
  }
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  ul {
    text-align: right;
    list-style-type: decimal;
    margin: 0;
    padding: 0;
    /* justify-content: ; */
    
  }
  
  li {
    display: inline-block;
    margin-right: 80px;
    
    
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: large;
  }
  
  .activenav {
    font-weight: bold;
  }
  div {
    display: inline-block;
    width: 300px;
    : 10px;
    /* margin: 10px; */
    vertical-align: top;
  }
  .video_container{
    height: 1266px;
    width: 1000px;
    /* margin-left: 190px;
    margin-top: 50px; */
  }

  .menu {
    position: fixed;
    top: 35px;
    left: -300px;
    width: 100px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease-in-out;
  }
  
  .menu.open {
    left: -15px;
  }
  
  .toggle-btn {
    width: 50px;
    position: fixed;
    top: 0px;
    left: 10px;
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .toggle-btn1 {
    margin-left: 25px;
    position: fixed;
    top: 0px;
    left: 90px;
    width: 50px;
    height: 40px;
    /* font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer; */
  }
  
  .ul {
    margin-top: 50px;
    padding: 0;
    list-style: none;
    margin-left: 100%;
  }
  
  .li {
    margin: 0;
    padding: 0;
    display: block;
    margin-bottom: 30px;
  }
  
  a {
    /* display: block; */
    padding: 10px;
    color: #fff;
    text-decoration: none;
    

  }
  
  .a:hover {
    background-color: #555;
  }
  
  /* .sidenav {

    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 100%;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 15px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  } */
  
  
  @media (max-width: 1200px) {
    div {
      width: calc(25% - -55px);
    }
    .sidenav{
     
      right: 87%;
    }
  }
  
  @media (max-width: 1080px) {
    video{
      width: 200px;
    }
   /* .video_container{

   } */
  }



  @media (max-width: 992px) {
    div {
      width: calc(41.33% - -15px);
    }
    .sidenav{
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    div {
      width: calc(50% - 38px);
    }
    .sidenav{
      display: none;
  
    }
    video{
      width: 400px;
    }
    nav {
      /* width:92%; */
      width: calc(50% - -580px);
    }
  }


  .video-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* .video-block { */
    /* flex: 0 0 calc(33.33% - 20px); */
    /* margin: 10px; */
    /* box-sizing: border-box; */
    /* display: flex; */
    /* flex-wrap: wrap; */
  /* } */
  
  .video-block video {
    width: 250px;
    height: auto;
    object-fit: cover;
  
  }
  
  
  .video-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .video-block {
    flex: 0 0 calc(33.33% - 20px);
    /* margin: 10px; */
    box-sizing: border-box;
    display: flex;
  }
  
  @media screen and (max-width: 615px) {
    .video-block {
      /* flex-basis: calc(50% - 20px); */
    
    display: block;
    }
  }
  
  @media screen and (max-width: 480px) {
    .video-block {
      flex-basis: 100%;
    }
  }
  
  /* .video-block video {
    width: 100%;
    height: auto;
  } */
  





  @media (max-width: 692px) {
    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      /* background-color: black;

      color: white; */
      background-color: #fff;
      color: #333;
      overflow-x: hidden;
    }

    .dark-mode {
      background-color: #000000;
      color: #fff;
    }
    .toggle-btn1 {
      position: fixed;
      top: 5px;
      left: 35px;
      width: 40px;
      height: 45px;
    }
    body {
      overflow-y: auto;
    }
    div {
      width: calc(41.33% - -38px);
    }
    .sidenav {
      display: none;
      width: 79px;
      left: 0;
      margin-left: 0px;
    }
    div video {
      width: 400px;
      height: auto;
    }
    .video_container {
      /* margin-left: -10px; */
    }
    .menu {
      position: fixed;
      top: 44px;
      left: -300px;
      width: 120px;
      height: 100%;
      background-color: #33333380;
      transition: left 0.3s ease-in-out;
      z-index: 999;
    }
    .menu.open {
      left: -20px;
    }
    .toggle-btn {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 20px;
      color: #fff;
      background: transparent;
      border: none;
      cursor: pointer;
    
    }
    .toggle-btn1{
      margin-left: 25px;
    }
    .uli {
      margin-top: 50px;
      padding: 0;
      list-style: none;
      display: block;
    }
    li{
      margin-right: 10px;
    }
    .li {
      margin: 0;
      padding: 0;
    }
    .a {
      display: block;
      padding: 10px;
      font-size: large;
      color: #fff;
      text-decoration: none;
    }
    .a:hover {
      background-color: #555;
    }
    a{
      font-size: xx-small;
    }
    nav {
      margin: 0;
      justify-content: space-between;
      width: 45vh;
      height: 4vh;
      z-index: 999;
    }
    ul {
      display: flex;
      justify-content: space-between;
    }

    
  }
  
  
  @media (max-width: 576px) {
    div {
      width: calc(100% - -15px);
    }
    video {
      width: 600px ;
    }
  }