<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Videos</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

    <nav>
        <ul>
          <li ><a href="/home">home</a></li>
          <li><a href="/upload">+ Upload +</a></li>
          <li class="activenav"><a href="/myvideos">My Videos</a></li>
        </ul>
      </nav>
      
</body>
</html>