<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

    <nav>
      <img src="/static/symbol/logosymbol.png" class="toggle-btn1" height="30px" alt="^" >
        <ul ><li>
        </li>
          <li style="margin-left: 30px;"> <button class="toggle-btn">&#9776;</button></li>
          <li class="activenav"><a href="/home"><img src="/static/symbol/homesymbol.png " height="20px" alt="^">Home</a></li>
          <li  class="lio"><a href="/upload">  <img src="/static/symbol/uploadsymbol.png" height="20px" alt="^"> Upload </a></li>
          <li class="lio"><a href="/myvideos"><img src="/static/symbol/videosymbol.png" height="20px" alt="^">My Videos</a></li>
        </ul>
      </nav>

      <div class="menu">
        <ul class="uli">
          <li class="li"><a class="a" href="#">Home</a></li>
          <li class="li"><a class="a" href="#">About</a></li>
          <li class="li"><a class="a" href="#">Services</a></li>
          <li class="li"><button style="margin-top: 5px; margin-right: 7px; text-decoration: none; background: none; border: none; font-size: large; color: white;font: inherit" id="theme-btn">Theme</button></li>
          
       
      <script src="/static/js/home.js"></script>
      
        <div class="menu">
          <ul class="uli">
            <li class="li"><a class="a" href="#">Home</a></li>
            <li class="li"><a class="a" href="#">About</a></li>
            <li class="li"><a class="a" href="#">Services</a></li>
            <li class="li"><button style="margin-top: 5px; margin-right: 7px; text-decoration: none; background: none; border: none; font-size: large; color: white;font: inherit" id="theme-btn">Theme</button></li>
            </ul>
            </div>
            
            <!-- <div style="position: fixed; top: 50px; right: 200px;">

              <h1 >hi</h1>
            </div> -->
            <div class="videofile" style="margin-left: 700%;">

              
            <h1>Upload a video file</h1>
            <form method="POST" enctype="multipart/form-data">
               <input type="file" accept="video/*" class="videofile" name="video"  id="file-input">
               <progress id="upload-progress" value="0" max="100"></progress>
               <!-- <div id="dropzone">
                Drag and drop video file here
              </div>
             -->
              <video id="video-preview"></video>
               <input type="submit" value="Upload">

               <!-- <input type="file" name="video" accept="video/*" class="video-upload"> -->

             
              
            
            </form>
      </div>
      <script>
        const form = document.querySelector('#upload-form');
        const fileInput = document.querySelector('#file-input');
        const progressBar = document.querySelector('#upload-progress');
        
        form.addEventListener('submit', (event) => {
          event.preventDefault();
          
          const file = fileInput.files[0];
          const xhr = new XMLHttpRequest();
          xhr.open('POST', '/upload');
          
          xhr.upload.addEventListener('progress', (event) => {
            const percent = (event.loaded / event.total) * 100;
            progressBar.value = percent;
          });
          
          xhr.addEventListener('load', () => {
            console.log('Upload complete!');
          });
          
          xhr.send(file);
        });
      </script>
      <script src="/static/js/upload.js"></script>
      <link rel="stylesheet" href="/static/css/upload.css">
</body>
</html>